################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Wibci.CountryReverseGeocode/bin/Debug
/Wibci.CountryReverseGeocode/obj/Debug
/Wibci.CountryReverseGeocode.Tests/bin/Debug
/Wibci.CountryReverseGeocode.Tests/obj/Debug
/Wibci.CountryReverseGeocode/bin/Release
/Wibci.CountryReverseGeocode/obj/Release
/Wibci.CountryReverseGeocode.Tests/bin/Release
/Wibci.CountryReverseGeocode.Tests/obj/Release
/Wibci.CountryReverseGeocode.DataConversion/bin/Release
/Wibci.CountryReverseGeocode.DataConversion/obj/Release
/Wibci.CountryReverseGeocode.DataConversion/bin/Debug
/Wibci.CountryReverseGeocode.DataConversion/obj/Debug
/.vs
/Sample/packages
/Sample/Wibci.CountryReverseGeocode.Xamarin/Wibci.CountryReverseGeocode.Xamarin/obj/Debug
/Sample/Wibci.CountryReverseGeocode.Xamarin/Wibci.CountryReverseGeocode.Xamarin.Droid/obj/Debug
/Sample/Wibci.CountryReverseGeocode.Xamarin/Wibci.CountryReverseGeocode.Xamarin.iOS/obj/iPhone/Debug
/Sample/Wibci.CountryReverseGeocode.Xamarin/Wibci.CountryReverseGeocode.Xamarin.UWP/obj/x86/Debug
/Sample/.vs/Wibci.CountryReverseGeocode.Xamarin/v14
/Wibci.CountryReverseGeocode/obj
/nuget
/SampleProject/.vs/WibciCountryStateGeocode.XamarinSample/DesignTimeBuild
/SampleProject/.vs/WibciCountryStateGeocode.XamarinSample/v16/.suo
/SampleProject/WibciCountryStateGeocode.XamarinSample/bin/Debug/netstandard2.0
/SampleProject/WibciCountryStateGeocode.XamarinSample/obj
/SampleProject/WibciCountryStateGeocode.XamarinSample.Android/bin/Debug
/SampleProject/WibciCountryStateGeocode.XamarinSample.Android/obj
/SampleProject/WibciCountryStateGeocode.XamarinSample.iOS/obj
/SampleProject/WibciCountryStateGeocode.XamarinSample.UWP/obj
